.App {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 0 5vw;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.title {
  font-weight: 100;
  font-size: 32px;
  margin-bottom: 20px;
  letter-spacing: 0.7px;
  line-height: 38px;
}
.we-present {
  line-height: 25px !important;
}
.text {
  color: rgba(255, 255, 255, 0.9);
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}

.noMargin {
  margin: 0px !important;
}

.subTitle {
  color: white;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
  font-weight: 600;
  margin-top: 30px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-top: 5px;
  margin-bottom: 30px;
  border: 0.8px solid white;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tekieLogo {
  position: relative;
  display: block;
  width: 25vw;
  max-width: 150px;
  align-self: center;
  margin-bottom: 10px;
  top: 5px;
}

.text.big {
  font-size: 18px;
  margin-bottom: 14px;
}
.text.big.teaser {
  font-size: 18px;
  margin-bottom: -2px;
  letter-spacing: -0.3px;
  margin-top: 10px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-bottom: 24px;
  padding: 6px 0;
  /* box-shadow: 2px 2px rgba(255, 255, 255, 0.5); */
  border-bottom: 3px solid white;
  background-color: rgba(0, 0, 0, 0.4);
}

textarea, input { outline: none; }
input {
  border: 1px solid rgba(0,0,0,.12);
  padding: 1em;
  font-size: 15px;
  margin-bottom: 10px;
  opacity: 0.9;
  width: 100%;
  box-sizing: border-box;
}

.button {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.4px;
  border: 0.1px solid white;
  cursor: pointer;
  user-select: none;
}

.name-input {
  margin-top: 10px;
}

.stay-tuned {
  text-align: center;
  margin-bottom: 20px;
}

.showcase {
  width: 100%;
  height: 100px;
  text-align: center;
  background-image: url("./footer.png");
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  background-size: cover;
  background-attachment: fixed;
}

.flex {
  width: 100%;
  height: auto;
}


.info {
  width: 100%;
  height: auto;
  border-bottom: 0.2px solid white;
}

.answer {
  font-size: 14px;
}

span.underline {
  border-bottom: 0.5px solid white;
}
.line-break {
  height: 1px;
  background-color: rgba(255,255,255,0.5);
  margin-bottom: 10px;
}

.question {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #53cae9;
}

.email-us {
  font-size: 17px;
  text-align: center;
}

.button.isLoading {
  opacity: 0.5;
}

.creator {
  text-transform: uppercase;
  margin-top: 20px;
  font-size:  24px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.1px;
  margin-bottom: 40px;
}

.team-container {
  width: 100%;
  padding: 10px 0;
  background-color: #08212c;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}


.text.small {
  font-size: 14px;
  font-size: 10px;
  font-weight: 400;
}

.flex-container {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.flex-grid-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: -17px;
  position: relative;
  left: 22px;
  justify-content: center;
  align-items: center;
}
.flex-items {
  margin-right: 45px;
  margin-top: 17px;
  color: white;
  font-size: 10px;
  font-weight: 600;
  text-transform: initial;
  background-size: contain;
  letter-spacing: 0.5px;
}

.flex-items.google {
  width: 18px;
  height: 19px;
  background-image: url('./google.png');
}

.flex-items.intel {
  width: 31px;
  height: 21px;
  background-image: url('./intel.png');
}

.flex-items.microsoft {
  width: 69px;
  height: 25px;
  background-image: url('./microsoft.png');
}

.flex-items.amazon {
  width: 43px;
  height: 13px;
  position: relative;
  top: 3px;
  background-image: url('./amazon.png');
}

.aboutCourseContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #061C26;
  border: 0.5px solid white;
  /* margin: 100px 100px; */
  box-sizing: border-box;
  width: calc(100% - 100px);
  justify-content: space-between;
  align-items: center;
  padding: 45px 30px 30px 30px;
  margin: 10px 0 20px 0;
}


.aboutCourseWrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.iconContainer {
  height: 40px;
  width: auto;
}
.title.blue {
  font-weight: unset;
  color: #2AD9E9;
  margin-top: 20px;
  font-size: 20px;
}
@media only screen and (max-width: 1180px) {
  .aboutCourseWrapper {
    width: 280px;
  }
  .iconContainer {
    height: 50px;
  }
  .title.blue {
    font-weight: unset;
    color: #2AD9E9;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 25px;
  }
  .text.course {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1000px) {
  .aboutCourseWrapper {
    width: 250px;
  }
  .iconContainer {
    height: 45px;
  }
  .title.blue {
    font-weight: unset;
    color: #2AD9E9;
    margin-top: 24px;
    margin-bottom: 13px;
    font-size: 22px;
  }
  .text.course {
    font-size: 13px;
  }
}
@media only screen and (max-width: 920px) {
  .aboutCourseWrapper {
    width: 200px;
  }
  .iconContainer {
    height: 40px;
  }
  .title.blue {
    font-weight: unset;
    color: #2AD9E9;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .text.course {
    font-size: 15px;
  }
}
@media only screen and (max-width: 765px) {
  .aboutCourseContainer {
    width: calc(100% - 10vw);
    padding: 30px;
  }
  .aboutCourseWrapper {
    width: 100%;
    margin-bottom: 50px;
  }
  .aboutCourseWrapper.projects {
    width: 100%;
    margin-bottom: 0px;
  }
  .iconContainer {
    height: 55px;
  }
  .title.blue {
    font-weight: unset;
    color: #2AD9E9;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .text.course {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 400px) {
  .aboutCourseContainer {
    padding: 20px 15px;
  }
  .aboutCourseWrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  .title.blue {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .text.course {
    font-size: 16px;
  }
}

@media only screen and (min-width: 600px) {
  .team-container {
    padding: 20px 0;
  }

  .flex-grid-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: -17px;
    margin-right: -45px;
    justify-content: center;
    align-items: center;
  }

  .flex-items {
    font-size: 20px;
  }
  
  .flex-items.google {
    width: 36px;
    height: 38px;
    background-image: url('./google.png');
  }
  
  .flex-items.intel {
    width: 62px;
    height: 42px;
    background-image: url('./intel.png');
  }
  
  .flex-items.microsoft {
    width: 138px;
    height: 50px;
    background-image: url('./microsoft.png');
  }
  
  .flex-items.amazon {
    width: 86px;
    height: 26px;
    background-image: url('./amazon.png');
  }
  .text.small {
    font-size: 16px;
  }
  .tekieLogo {
    width: 8vw;
  }
  .logo-container {
    justify-content: flex-start;
    padding-left: 30px;
    box-sizing: border-box;
    padding: 6px 30px;
    border-bottom: 1px solid white;
  }
}
